<%- include('partials/head') %> 
<body> 
    <%- include('partials/navbar') %> 
    <h1 class="title">sorry, we could'nt find the: "<%= substory %>" substory</h1>
    <%- include('partials/background-shapes/rectangle1') %> 
    <%- include('partials/background-shapes/rectangle2') %> 
</body>
</html>